
.footerLogoImg {
  display: block;
  padding-bottom: 23px;
}

.footerTel {
  padding-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  color: #2C2D35;
}

.footerMaster {
  font-size: 18px;
  font-weight: 500;
  color: #86928B;
}