.footerSocial {
  padding-bottom: 42px;
  
  @media (max-width: 800px) {
    padding-bottom: 10px;
  }
}

.footerSocialIcon {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.footerSocialIcon a:hover {
  fill: #376B44;
}

.footerSocialItem1 {
  padding: 10px 0 6px;

  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
}

.footerSocialItem2 {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
}