
.intro {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 70px;

  @media (max-width: 900px) {
    display: block;
    margin-bottom: 40px;
  }
}

.birdTitle {
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}